<div class="row">
  <div class="col-md-12">
    <input type="text" [ngStyle]="myStyle" [ngClass]="{well : isWell}">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="button" (click)="changeBorder()" class="btn btn-default" value="Okay" />
  </div>
</div>
<div class="row" *ngIf="shouldShow">
  <div class="col-md-3 ht" [magicDiv]="'red'">

  </div>
  <div class="col-md-3 ht" [magicDiv]="'green'">

  </div>
  <div class="col-md-3 ht" [magicDiv]="'blue'">

  </div>
  <div class="col-md-3 ht" [magicDiv]="'orange'">
  </div>
</div>
<ng-template [ngIf]="shouldShow">
  <div class="jumbotron">
    <h1>hello world</h1>
  </div>
</ng-template>
<div class="row">
  <div class="col-md-12">
    <input type="button" (click)="shouldShow = !shouldShow" value="Show Attribute Concept" class="btn btn-primary">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let mob of mobiles">{{mob}}</li>
    </ul>
  </div>
</div>

<div class="row well" *ngFor="let rr of ratingAndReview">
  <div class="col-md-12">
    <div>
      {{rr.review}}
    </div>
    <rating [max]="10" [ngModel]="rr.rating" [readonly]="true" [disabled]="false" [required]="true" [float]="true">
    </rating>
  </div>
  <div [ngSwitch]="'2'">
    <div *ngSwitchCase="'1'"> One</div>
    <div *ngSwitchCase="'2'"> Two</div>
    <div *ngSwitchCase="'3'"> Three</div>
    <div *ngSwitchCase="'4'"> Four</div>
    <div *ngDefault>I am here</div>
  </div>
  <div *unless="true">
    <h1>Show This</h1>
  </div>
</div>