<div class="container">
  <div class="row">
    <div class="alert alert-danger">
      <h4>Missing SELECT Support</h4>
      This feature does not currently support SELECT tags - I'm still working out a way to make them work with Bootstrap's native
      examples.
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-8">

        <h4 class="page-header">Template Driven Froms</h4>
        <form role="form" #myFrm="ngForm" (ngSubmit)="myFrmSub(myFrm)">
          <div class="form-group float-label-control">
            <label for="">Username</label>
            <input 
              type="email" 
              class="form-control" 
              placeholder="Username"
              name="usNm"
              [(ngModel)]="myVal.usNm">
          </div>
          <div class="form-group float-label-control">
            <label for="">Password</label>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Password"
              name="pass"
              [(ngModel)]="myVal.pass">
          </div>
          <div class="form-group float-label-control">
            <label for="">Email Address</label>
            <input 
              type="email" 
              class="form-control" 
              placeholder="What's your email address?"
              name="eml"
              [(ngModel)]="myVal.eml">
          </div>
          <div class="form-group float-label-control">
            <input 
              type="submit" 
              class="btn btn-primary" 
              value="Submit">
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Features
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Very customizable</li>
              <li>Works with Bootstrap's native form examples</li>
              <li>Uses CSS transitions for fallback browser support</li>
              <li>Placeholder override for labels when fields are empty</li>
              <li>Included authored jQuery plugin</li>
              <li>Optional bottom label positioning with the <code>.label-bottom</code> utility</li>
              <li>Works great with Chrome's AutoComplete</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>