<div class="row">
  <div class="col-md-12">
    <input type="{{typ.toUpperCase()}}">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input [type]="typ.toUpperCase()">
  </div>
</div>
<div class="row">
  <div class="col-md-12" [style.border]="'1px solid red'" [class.well]="false">
    hi
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Custom Prop - {{custProp}}
  </div>
</div>
<ul>
  <li *ngFor="let ob of anyObj.list;let pos = index" (click)="tmpObj = anyObj">{{ob}} -> {{pos}}</li>
</ul>