<div class="container">
      <app-services></app-services>
       <!-- <app-directives></app-directives>    -->
      <!-- <app-my-table></app-my-table>  -->
      <!-- <app-lifecycle *ngIf="isShow" [msg]="title"></app-lifecycle>
      <div class="row">
            <div class="col-md-12">
                  <input type="button" value="Okay" class="btn btn-primary" (click)="isShow = !isShow">
            </div>
      </div>

      <div class="row">
            <div class="col-md-12">
                  <input type="button" value="Change" class="btn btn-primary" (click)="chDt()">
            </div>
      </div> -->
</div>