<div class="container">
  <div class="row">
    <div class="alert alert-danger" *ngIf="!frmGrp.controls.usNm.valid">
      <h4>Username</h4>
      Kindly enter the user name
      <br>{{frmGrp.controls.usNm.errors.err}}
    </div>

    <div class="alert alert-danger" *ngIf="!frmGrp.controls.pass.valid">
      <h4>Password</h4>
      Kindly Enter proper password.
    </div>

    <div class="alert alert-danger" *ngIf="!frmGrp.controls.eml.valid">
      <h4>Email </h4>
      Enter email or check the email format is correct.
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-8">

        <h4 class="page-header">Template Driven Froms</h4>
        <form role="form" (ngSubmit)="myFrmSub()" [formGroup]="frmGrp" novalidate>
          <div class="form-group float-label-control">
            <label for="">Username</label>
            <input type="email" class="form-control" placeholder="Username" formControlName="usNm">
          </div>
          <div class="form-group float-label-control">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="pass">
          </div>
          <div class="form-group float-label-control">
            <label for="">Email Address</label>
            <input type="email" class="form-control" placeholder="What's your email address?" formControlName="eml">
          </div>
          <div class="form-group float-label-control">
            <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!frmGrp.valid">
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Features
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Very customizable</li>
              <li>Works with Bootstrap's native form examples</li>
              <li>Uses CSS transitions for fallback browser support</li>
              <li>Placeholder override for labels when fields are empty</li>
              <li>Included authored jQuery plugin</li>
              <li>Optional bottom label positioning with the <code>.label-bottom</code> utility</li>
              <li>Works great with Chrome's AutoComplete</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>