<div class="container">
  <div class="row">
    <div class="alert alert-danger" >
      <h4>Username</h4>
      Kindly enter the user name
    </div>

    <div class="alert alert-danger" >
      <h4>Password</h4>
      Kindly Enter proper password.
    </div>

    <div class="alert alert-danger" >
      <h4>Email </h4>
     Enter email or check the email format is correct.
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-8">

        <h4 class="page-header">Template Driven Froms</h4>
        <form role="form"(ngSubmit)="myFrmSub()">
          <div class="form-group float-label-control">
            <label for="">Username</label>
            <input 
              type="email" 
              class="form-control" 
              placeholder="Username">
          </div>
          <div class="form-group float-label-control">
            <label for="">Password</label>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Password">
          </div>
          <div class="form-group float-label-control">
            <label for="">Email Address</label>
            <input 
              type="email" 
              class="form-control" 
              placeholder="What's your email address?">
          </div>
          <div class="form-group float-label-control">
            <input 
              type="submit" 
              class="btn btn-primary" 
              value="Submit">
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Features
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Very customizable</li>
              <li>Works with Bootstrap's native form examples</li>
              <li>Uses CSS transitions for fallback browser support</li>
              <li>Placeholder override for labels when fields are empty</li>
              <li>Included authored jQuery plugin</li>
              <li>Optional bottom label positioning with the <code>.label-bottom</code> utility</li>
              <li>Works great with Chrome's AutoComplete</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>